@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.skill-card{
    width: 247px;
    height: 104px;
    background: #1A0E2B;
    box-shadow: '2.048666000366211px 0px 13.316329002380371px rgba(0, 0, 0, 0.25)';
    border-radius: 18.44px;
    margin-bottom: 54px;
    align-items: center;
    display: flex;
    transition: transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.skill-card:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 30px 1px #9712FF;
}

.card-content {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins';
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.88px;
    flex-shrink: 0;
    margin: 0%;
    transform: translateX(-20px);
}

.skill-image {
    margin-left: 15px;
}

#androiddev {
    transform: translateX(-40px);
}