.App {
  text-align: center;
  background-color: #11091ac4;
  margin-left: 100px;
  margin-right: 100px;
  overflow-x: hidden;
}

.page-body{
  color: #FFF;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
