.App {
  text-align: center;
}

.page-body{
  background-color: #11091A;
  color: #FFF;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
