@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 120px;
    row-gap: 30px;
}

@media screen and (max-width: 1322px) {
    .card-container {
        column-gap: 70px;
    }
}

@media screen and (max-width: 1211px) {
    .card-container {
        column-gap: 10px;
    }

    .image-box{
        display: none;
    }
}

.content-box, .image-box {
    max-width: 471px;
    height: 322px;
    box-shadow: '2.048666000366211px 0px 13.316329002380371px rgba(0, 0, 0, 0.25)';
    border-radius: 18.44px;
    gap: 8px;
}

.image-box {
    border-radius: 9px;
    flex-shrink: 0;
    box-shadow: 0 0 7px 7px rgba(151, 19, 249, 1);
    flex-wrap: wrap;
    align-content: space-between;
}

.project-image {
    width: 100%;
    height: 100%;
}

.project-name {
    color: #FFF;
    text-align: justify;
    font-family: 'Montserrat';
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.93px;
    margin-top: 0%;
    margin-bottom: 20px;
}

.project-category {
    margin-top: 0%;
    color: #FFF;
    text-align: justify;
    font-family: 'Poppins';
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.55px;
    margin-bottom: 0%;
}

.project-description {
    margin-top: 0%;
    margin-top: 20px;
    color: #989898;
    text-align: justify;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0%;
    margin-bottom: 23px;
}

.read-more {
    margin-top: 0%;
    color: var(--text-bg, #989898);
    text-align: justify;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}